pipeline/pl_process_order_items_day.json
{
	"name": "pl_process_order_items_day",
	"properties": {
		"activities": [
			{
				"name": "lk_check_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(1) AS record_count\nFROM ingestion_file_metadata\nWHERE entity_name = 'order_items'\n  AND business_date = '@{pipeline().parameters.p_business_date}'\n  AND UPPER(ingestion_status) = 'PROCESSED';\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_check_metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "if_already_processed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lk_check_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('lk_check_metadata').output.firstRow.record_count, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "cp_landing_to_raw_day",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_bronze_order_items_landing_day",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze_order_items_raw_day",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "sp_insert_metadata",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cp_landing_to_raw_day",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert_ingestion_metadata]",
								"storedProcedureParameters": {
									"entity_name": {
										"value": "order_items",
										"type": "String"
									},
									"business_date": {
										"value": {
											"value": "@pipeline().parameters.p_business_date",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_name": {
										"value": "@pipeline().parameters.p_file_name",
										"type": "String"
									},
									"ingestion_status": {
										"value": "PROCESSED",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_ingestion_metadata",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "wt_skip_already_processed",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_business_date": {
				"type": "string",
				"defaultValue": "2025-08-01"
			},
			"p_file_name": {
				"type": "string",
				"defaultValue": "order_items_2025-08-01.csv"
			}
		},
		"annotations": []
	}
}