adf-engineer-lab-git/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-engineer-lab-git"
		},
		"ls_adls_fmcg_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_fmcg'"
		},
		"ls_sql_ingestion_metadata_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_ingestion_metadata'"
		},
		"ls_adls_fmcg_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdeprod01.dfs.core.windows.net/"
		},
		"ls_sql_ingestion_metadata_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-metadata-lab.database.windows.net"
		},
		"ls_sql_ingestion_metadata_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb_ingestion_metadata"
		},
		"ls_sql_ingestion_metadata_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "data_engineer_sql"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_order_items_landing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gm_check_landing",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_bronze_order_items_landing",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "if_landing_has_data",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "gm_check_landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('gm_check_landing').output.childItems),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "sp_not_inserted_metadata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_insert_ingestion_metadata]"
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_ingestion_metadata",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "gm_check_month_folders",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_bronze_order_items_landing_year",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "gm_check_day_folders",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "gm_check_month_folders",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_bronze_order_items_landing_month",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "ep_process_order_items_day",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "gm_check_day_folders",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_process_order_items_day",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-27T15:42:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_bronze_order_items_landing')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_ingestion_metadata')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_order_items_landing_year')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_order_items_landing_month')]",
				"[concat(variables('factoryId'), '/pipelines/pl_process_order_items_day')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_order_items_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_fmcg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "fmcg_source/order_items/landing",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_fmcg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_order_items_landing_day')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_fmcg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "fmcg_source/order_items/landing/2025/08/01",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_fmcg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_order_items_landing_month')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_fmcg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "fmcg_source/order_items/landing/2025/08",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_fmcg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_order_items_landing_year')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_fmcg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "fmcg_source/order_items/landing/2025",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_fmcg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_order_items_raw_day')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_fmcg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "fmcg_source/order_items/raw/2025/08/01",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_fmcg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_check_metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_ingestion_metadata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "metadata_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "source_name",
						"type": "varchar"
					},
					{
						"name": "entity_name",
						"type": "varchar"
					},
					{
						"name": "file_name",
						"type": "varchar"
					},
					{
						"name": "business_date",
						"type": "date"
					},
					{
						"name": "file_hash",
						"type": "varchar"
					},
					{
						"name": "file_size_bytes",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "landing_path",
						"type": "varchar"
					},
					{
						"name": "raw_path",
						"type": "varchar"
					},
					{
						"name": "ingestion_status",
						"type": "varchar"
					},
					{
						"name": "pipeline_run_id",
						"type": "varchar"
					},
					{
						"name": "ingested_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ingestion_file_metadata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_ingestion_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_fmcg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_fmcg_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_fmcg_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_ingestion_metadata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_ingestion_metadata_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_ingestion_metadata_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_ingestion_metadata_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_ingestion_metadata_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_process_order_items_day')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lk_check_metadata",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT COUNT(1) AS record_count\nFROM ingestion_file_metadata\nWHERE entity_name = 'order_items'\n  AND business_date = '2025-08-01'\n  AND UPPER(ingestion_status) = 'PROCESSED';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_check_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "if_already_processed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "lk_check_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('lk_check_metadata').output.firstRow.record_count, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "cp_landing_to_raw_day",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_bronze_order_items_landing_day",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_bronze_order_items_raw_day",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "sp_insert_metadata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "cp_landing_to_raw_day",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_insert_ingestion_metadata]",
										"storedProcedureParameters": {
											"entity_name": {
												"value": "order_items",
												"type": "String"
											},
											"business_date": {
												"value": "2025-08-01",
												"type": "String"
											},
											"file_name": {
												"value": "order_items_2025-08-01.csv",
												"type": "String"
											},
											"ingestion_status": {
												"value": "PROCESSED",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_ingestion_metadata",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "wt_skip_already_processed",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_check_metadata')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_order_items_landing_day')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_order_items_raw_day')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_ingestion_metadata')]"
			]
		}
	]
}